.property-image {
    width: 140px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.property-image:first-of-type {
    width: 100%;
    height: 100%;
}

#imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#imageList {
    width: 100%;
}

.splitter {
    width: 140px;
}

#addPropertyImage {
    display: flex;
    position: relative;
    height: 100px;
    width: 140px;
    text-align: center;
    color: #2bb1ff;
    border: 1px dashed;
}


#addPropertyImage > img {
    font-size: 4em;
    line-height: 0;
    font-weight: 300;
}

#addPropertyImage:hover {
    cursor: pointer;
}

#saveAlert {
    position: fixed;
    top: 15px;
    right: 10px;
}

// #addPropertyImage::after {
//     display: block;
//     text-align: center;
//     content: "+";
//     font-size: 10em;
//     font-weight: lighter;
// }